<md-content layout="row" layout-sm="column" layout-padding>
    <div flex class="md-shadow-bottom-z-1" layout-margin>
        <h2 class="md-title">Locations</h2>
        <ui-gmap-google-map layout-fill center='map.center' zoom='map.zoom'>
            <ui-gmap-marker ng-repeat="application in dummyApplications track by $index"
                            idKey='$index' coords='application.location'
                            options="{animation:'DROP'}">
            </ui-gmap-marker>


        </ui-gmap-google-map>
    </div>

    <div flex class="md-shadow-bottom-z-1" layout-margin>
        <h2 class="md-title">Deployed applications</h2>
        <!-- https://github.com/daniel-nagy/md-data-table -->
        <md-data-table-container>
            <table md-data-table md-progress="deferred">
                <thead md-order="dataTableOptions.order">
                <tr>
                    <th order-by="name">Application</th>
                    <th order-by="status">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="application in dummyApplications | orderBy: dataTableOptions.order
                    | filter: dataTableOptions.skip | limitTo: dataTableOptions.limit">
                    <td>{{application.name}}</td>
                    <td>{{application.status}}</td>
                </tr>
                </tbody>
            </table>
        </md-data-table-container>

        <md-data-table-toolbar layout-align="end">
            <md-data-table-pagination md-limit="dataTableOptions.limit" md-page="dataTableOptions.page"
                                      md-total="{{dataTableOptions.length}}"
                                      md-row-select="[5]"></md-data-table-pagination>
        </md-data-table-toolbar>
    </div>
</md-content>

<md-content layout="row" layout-padding>
    <div flex class="md-shadow-bottom-z-1" layout-margin>
        <h2 class="md-title">Server log</h2>
        <ui-codemirror class="angular-ui-codemirror-container" ui-codemirror-opts="codeMirrorOptions"
                       ng-model="serverLog"></ui-codemirror>
    </div>
</md-content>


<div class="md-fab-container">
    <md-fab-speed-dial md-direction="up"
                       ng-class="md-scale">
        <md-fab-trigger>
            <md-button aria-label="Menu" class="md-fab md-accent">
                <md-icon class="md-light md-48"> menu</md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button aria-label="Add new application" class="md-fab md-raised md-mini">
                <md-icon class="md-light md-48">cloud_upload</md-icon>
                <md-tooltip md-direction="left" md-delay="50" md-autohide>
                    Add new application
                </md-tooltip>
            </md-button>
            <md-button aria-label="Add new location" class="md-fab md-raised md-mini">
                <md-icon class="md-light md-48">cloud_circle</md-icon>
                <md-tooltip md-direction="left" md-delay="50" md-autohide>
                    Add new location
                </md-tooltip>
            </md-button>
            <md-button aria-label="Refresh properties" class="md-fab md-raised md-mini">
                <md-icon class="md-light md-48">refresh</md-icon>
                <md-tooltip md-direction="left" md-delay="50" md-autohide>
                    Refresh properties
                </md-tooltip>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>
