<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
            <md-icon aria-label="Menu" class="md-light md-48">menu</md-icon>
        </md-button>
        <img class="md-toolbar-image" src="brooklyn-logo.png">
        <md-button hide-sm href="#/home" ng-click="false" ng-class="{'md-bolder': isViewActive('/home')}">Home</md-button>

        <div flex></div>
        <md-button  hide-sm href="#/landing" ng-click="false" aria-label="Logout">
            Logout
        </md-button>
    </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Apache Brooklyn</h1>
    </md-toolbar>
    <md-content layout-padding  layout-align="center">
        <md-button href="#/home">Home</md-button>
    </md-content>
    <br>
    <md-content>
            <md-button ng-click="toggleSidenav('left')" class="md-primary">
                Close
            </md-button>
    </md-content>
</md-sidenav>